@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* { box-sizing: border-box; }

body{
	background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
	text-transform: capitalize;
}

.poke-container{
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
    max-width: 1440px;
    cursor: pointer;
	overflow: hidden;
    position: relative;
}

.pokemon{
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon .img-container{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
	
}

.pokemon .img-container img{
	margin-top: 20px;
	max-width: 90%;
	justify-content: center;
	align-items: center;
}

.pokemon .info{
	margin-top: 20px;
}

.pokemon .number{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name{
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

.pokemon .label{
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

/****** Modal Styling *******/
.modal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 120px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal .container{
	margin: auto;
	padding: 20px;
  	width: 25%;
}

.modal img{
	max-width: 500px;
}

.modal-body{
    padding: 30px;
    width: auto;
}

.description{
	display: flex;
	align-items: center;
	justify-content: center;
}

.description div{
	margin: 10px;
	padding: 10px;
	text-transform: lowercase;
}

.description p{
	margin: -5px;
	padding-bottom: 5px;
}

.ability{	
	margin: 20px;
	padding: 10px;
}

.ability h2{
	margin: 0;
	padding-bottom: 5px;
}

.stats{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.stats div{
	margin-right: 15px;
}

.stats div h4{
	margin: 0;
	padding-bottom: 5px;
}

.btn-close{
	color: #010101;
	font-size: large;
	background: transparent;
	font-weight: bold;
	border: none;
	cursor: pointer;
	position: absolute;
	z-index: 100;
	top: 160px;
	left: 58%;
}